body {
	padding:10px;
	font-family:"Roboto", "Arial", sans-serif!important;
	background-image: url('translate-1.png');
	background-repeat: repeat;
	background-position: left top;
	font-size: 100%!important;
}
h1 {
	text-align:center;
	font-size:30px;
}
h2 {
	font-size:20px;
}
#languages {
	-webkit-column-count:4;
}
button#save {
	display:block;
	margin:18px auto;
}
