[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = group GitHub Replication
	owner = group Administrators
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Owners-Override"]
	function = NoBlock
	value = 0 No score
	value = +1 Override
	defaultValue = 0
[label "Commit-Queue"]
  function = NoBlock
  value = 0 Not ready
  value = +1 Dry run
  defaultValue = 0
[project]
	description = The source code of the \"Translate Selected Text\" Chrome extension.
[access "refs/heads/*"]
	label-Owners-Override = +0..+1 group Project Owners
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group user/Zuul (zuul)
[commentlink "GitHub"]
	match = "(?:[Bb]ug|[Ii]ssue|[Cc]lose[sd]?|[Ff]ix(?:es|ed)?|[Rr]esolve[sd]?):\\s+#(\\S+)"
	link = https://github.com/avm99963/translateselectedtext/issues/$1
