[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = group GitHub Replication
[label "Owners-Override"]
	function = NoBlock
	value = 0 No score
	value = +1 Override
	defaultValue = 0
[project]
	description = The source code of the \"Translate Selected Text\" Chrome extension.
[commentlink "GitHub"]
	match = "(?:[Bb]ug|[Ii]ssue|[Cc]lose[sd]?|[Ff]ix(?:es|ed)?|[Rr]esolve[sd]?):\\s+#(\\S+)"
	link = https://github.com/avm99963/translateselectedtext/issues/$1
